.top_page
  .top_page__header
    .top_page__header__inner
      %h1{class:"icon"}
        %a{href:"/"}
          %img{src:"/assets/logo.png"}
      .search_box
        %input{class:"search_box__input", placeholder:"キーワードを入力してください"}
        %button{type:"submit", class: "search_box__btn"}
          %i.fas.fa-search{class: "search_box__btn__icon"}
        %ul{class:"search--result"}
    .list
      %ul{class:"list__left"}
        %li{class:"list__left__category"}
          %a{id:"category--btn",href:"#"}カテゴリー
        %li{class:"list__left__brand"}
          %a{id:"brand--btn",href:"#"}ブランド

      %ul{class:"list__right"}
        %li{class:"list__right__log_in"}
          %a{href:"#"}ログイン
        %li{class:"list__right__new"}
          %a{href:"#"}新規会員登録
    

