.side-menu
  %group
    %h2.side-menu__title マイページメニュー
    .group-list
    %a.group-list__notice お知らせ
    %a.group-list__likes いいねした商品
  %group
    %h2.side-menu__title 商品を出品する
    .group-list
    %a.group-list__item 商品を出品
    %a.group-list__sellitem 出品した商品
    %a.group-list__shop 自分のショップを見る
  %group
    %h2.side-menu__title 商品を購入する
    .group-list
    %a.group-list__buy 購入した商品
    %a.group-list__watch 最近見た商品
    %a.group-list__comment コメントした商品
  %group
    %h2.side-menu__title 設定・ヘルプ・その他
    .group-list
    %a.group-list__inquiry お問い合わせ
    %a.group-list__credit クレジットカード登録
    %a.group-list__management ポイント管理
    %a.group-list__logout ログアウト

