-# クレカ登録ページ
.top_page
  .top_page__header
    .top_page__header__inner
      %h1.icon
        =image_tag 'logo.png' 
      %h2{class:"top_page__header__inner__registration"} クレジットカード情報管理

.main_container 
  %h3{class: "main_container__title"}クレジットカード情報の登録変更
  .main_container__explanation
    以下の項目を入力し、「このクレジットカードで登録・変更する」または「このクレジットカード情報を削除する」ボタンを押してください。
    %br
    （ご家族など、本人以外の情報はご登録いただけません。）
  .main_container__title__table
    .main_container__title__table__group1 
      クレジットカード情報
    .main_container__title__table__group2 
      .group
        .main_container__title__table__group2__name1
          カード会社
        %select{name: "credit_card_id", class: "main_container__title__table__group2__credit" }
          %option{value: "0" } 選択してください
          %option{value: "1" } VISA
          %option{value: "2" } MASTER
          %option{value: "3" } JCB
          %option{value: "4" } Diners
          %option{value: "5" } AMEX
    .main_container__title__table__group3 
      .main_container__title__table__group3__name2
        カード番号
      .main_container__title__table__group3__box
        .main_container__title__table__group3__box__data2
          セキュリティ保護のため、登録済みのカード番号は一部伏字で表示されます。
        %input{type: "text", accesskey: "N", maxlength: "16", tabindex: "4", class: "main_container__title__table__group3__box__form"}
    .main_container__title__table__group4 
      .main_container__title__table__group4__name2
        カード有効期限
      .main_container__title__table__group4
        .main_container__title__table__group4__data3
          「月」/「年」の順に選択します。カード上の表記にご注意ください。
          .main_container__title__table__group4__data3__block
            %select{name: "credit_card_line", class: "main_container__title__table__group4__data3__block__mouth" }
              %option{value: "0" } -
              %option{value: "1" } 01
              %option{value: "2" } 02
              %option{value: "3" } 03
              %option{value: "4" } 04
              %option{value: "5" } 05
              %option{value: "6" } 06
              %option{value: "7" } 07
              %option{value: "8" } 08
              %option{value: "9" } 09
              %option{value: "10" } 10
              %option{value: "11" } 11
              %option{value: "12" } 12
            .main_container__title__table__group4__data3__block__label
              月
            %select{name: "credit_card_year", class: "main_container__title__table__group4__data3__block__year" }
              %option{value: "0" } -
              %option{value: "2020" } 20
              %option{value: "2021" } 21
              %option{value: "2022" } 22
              %option{value: "2023" } 23
              %option{value: "2024" } 24
              %option{value: "2025" } 25
              %option{value: "2026" } 26
              %option{value: "2027" } 27
              %option{value: "2028" } 28
              %option{value: "2029" } 29
              %option{value: "2030" } 30
              %option{value: "2031" } 31
              %option{value: "2032" } 32
              %option{value: "2033" } 33
              %option{value: "2034" } 34
              %option{value: "2035" } 35
              %option{value: "2036" } 36
              %option{value: "2037" } 37
              %option{value: "2038" } 38
              %option{value: "2039" } 39
              %option{value: "2040" } 40
            .main_container__title__table__group4__data3__block__year2
              年
    .main_container__title__table__group5
      .main_container__title__table__group5__name2
        カード名義人
      .main_container__title__table__group5__box3
        .main_container__title__table__group5__data4
          ご本人様名義のみ有効。ご家族の名義などでは登録できません。
        %input{type: "text", name: "card_owner", class: "main_container__title__table__group5__owner", accesskey: "N", maxlength: "42", tabindex: "10", placeholder: "(例)TARO YAMADA"}
    .main_container__title__table__group6
      .main_container__title__table__group6__name2
        セキュリティコード  
      .main_container__title__table__group6__box
        .main_container__title__table__group6__box__code
          セキュリティコードとは、クレジットカードの裏面に印字されている３桁または４桁の番号です。
        %input{type: "text", accesskey: "N", maxlength: "4", tabindex: "4", class: "main_container__title__table__group6__box__securitycode", placeholder: "(例1)123 (例2)4567"}
    .main_container__title__table__group7
      .main_container__title__table__group7__name2  
        通常使うカード
      .main_container__title__table__group7__data5
        2枚以上のカードを登録しているときは,通常使うカード」が優先的に選ばれます。
        %br
        このカードは現在「お買い物で通常使うカード」です.
    .main_container__title__table__back
      %li.main_container__title__table__back__page
        =link_to "<<前の画面に戻る"
    .main_container__title__table__submit
      上記の内容で登録・変更される場合は、「このクレジットカード情報を登録・変更する」または
      %br
      「このクレジットカード情報を削除する」ボタンを押してください。
      %br
      入力された個人情報は個人情報保護方針に基づき取り扱われることに同意するものとします。
    .main_container__title__table__register
      %input{type: "submit", name: "execmethot", value: "このクレジットカード情報を登録・変更する", class: "main_container__title__table__register__btn1"}
      %input{type: "submit", name: "execmethot", value: "このクレジットカード情報を削除する", class: "main_container__title__table__register__btn2"}
    .main_container__title__table__top
      %li.main_container__title__table__top__page
        =link_to "トップページへ戻る"


-# マイページ
.top_page
  .top_page__header
    .top_page__header__inner
      %h1.icon
        =image_tag 'logo.png'
      .search_box
        %input{class:"search_box__input", placeholder:"キーワードを入力してください"}
        %button{type:"submit", class: "search_box__btn"}
          %i.fas.fa-search{class: "search_box__btn__icon"}
        %ul{class:"search--result"}
    .list
      %ul.list__left
        %li.list__left__category
          =link_to "カテゴリ-", 'http://google.co.jp'
        %li.list__left__brand
          =link_to "ブランド", 'http://google.co.jp'
      %ul.list__right
        %li.list__right__log_in
          =link_to "ログイン", '/users/sign_in'
        %li.list__right__new
          =link_to "新規会員登録", '/users/sign_up'
.side-box
  .side-menu
    %group
      %h2.side-menu__title マイページメニュー
      .group-list
        %li.group-list__notice 
          =link_to "お知らせ"
        %li.group-list__likes 
          =link_to "いいねした商品"
    %group
      %h2.side-menu__title 商品を出品する
      .group-list
        %li.group-list__item 
          =link_to "商品を出品"
        %li.group-list__sellitem 
          =link_to "出品した商品"
        %li.group-list__shop 
          = link_to "自分のショップを見る"
    %group
      %h2.side-menu__title 商品を購入する
      .group-list
        %li.group-list__buy 
          =link_to "購入した商品"
        %li.group-list__watch  
          =link_to "最近見た商品"         
        %li.group-list__comment 
          =link_to "コメントした商品"
    %group
      %h2.side-menu__title 設定・ヘルプ・その他
      .group-list
        %li.group-list__inquiry 
          =link_to "お問い合わせ"
        %li.group-list__credit 
          =link_to "クレジットカード登録"
        %li.group-list__management 
          =link_to "ポイント管理"
        %li.group-list__logout 
          =link_to "ログアウト"

  .main-box
    %h2.main-box__title 佐藤さんのマイページ 
    .main-box__notice
      .main-box__subtitle 
        %h3.main-box__important 重要なお知らせ
      .main-box__body
        .main-box__inbox
          .main-box__left
            =image_tag 'FURIMA_ICON.png', :width =>"31", :height =>"31"
            %h4.main-box__streetaddres 住所の設定を行ってください。<br>
            スムーズに購入を進めるために住所の設定を行ってください。
      .main-box__recently
        .main-box__subsubtitle 最近見た商品
        .main-box__body2 
          %p.main-box__center
            %p.main-box__text 商品を閲覧するとここに履歴が表示されます。お気に入りの商品を見つけましょう！
    .main-box__group
      .main-box__submenu
        %h1.main-box__menutitle1 注目ブランド
        %p.main-box__box__brand
        %li.main-box__category1
          =link_to "NIKE"
        %li.main-box__category2
          =link_to "GU"
        %li.main-box__category3
          =link_to "ZARA"
      .main-box__submenu
        %h1.main-box__menutitle1 コンテンツ
        %li.main-box__category1 
          =link_to "ブランド一覧"
        %li.main-box__category2
          =link_to "カテゴリ一覧"
        %li.main-box__category3
          =link_to "キーワード一覧"
      .main-box__submenu
        %h1.main-box__menutitle1 ガイド
        %li.main-box__category1  
          =link_to "公式ガイド"
        %li.main-box_category2 
          =link_to "初めての方へ"
        %li.main-box__category3 
          =link_to "お知らせ"


-# ログアウトページ
.top_page
  .top_page__header
    .top_page__header__inner
      %h1.icon
        =image_tag 'logo.png'
      .search_box
        %input{class:"search_box__input", placeholder:"キーワードを入力してください"}
        %button{type:"submit", class: "search_box__btn"}
          %i.fas.fa-search{class: "search_box__btn__icon"}
        %ul{class:"search--result"}
    .list
      %ul.list__left
        %li.list__left__category
          =link_to "カテゴリ-", 'http://google.co.jp'
        %li.list__left__brand
          =link_to "ブランド", 'http://google.co.jp'
      %ul.list__right
        %li.list__right__log_in
          =link_to "ログイン", '/users/sign_in'
        %li.list__right__new
          =link_to "新規会員登録", '/users/sign_up'
.side
  .side-box
    .side-menu
      %group
        %h2.side-menu__title マイページメニュー
        .group-list
          %li.group-list__notice 
            =link_to "お知らせ"
          %li.group-list__likes 
            =link_to "いいねした商品"
      %group
        %h2.side-menu__title 商品を出品する
        .group-list
          %li.group-list__item 
            =link_to "商品を出品"
          %li.group-list__sellitem 
            =link_to "出品した商品"
          %li.group-list__shop 
            = link_to "自分のショップを見る"
      %group
        %h2.side-menu__title 商品を購入する
        .group-list
          %li.group-list__buy 
            =link_to "購入した商品"
          %li.group-list__watch  
            =link_to "最近見た商品"         
          %li.group-list__comment 
            =link_to "コメントした商品"
      %group
        %h2.side-menu__title 設定・ヘルプ・その他
        .group-list
          %li.group-list__inquiry 
            =link_to "お問い合わせ"
          %li.group-list__credit 
            =link_to "クレジットカード登録"
          %li.group-list__management 
            =link_to "ポイント管理"
          %li.group-list__logout 
            =link_to "ログアウト"         
  .side-mypage__logout
    %input{type: "submit", value: "ログアウト", class: "side-mypage__logout__input"}