-# - if @item.errors.any?
-#   #error_explanation
-#     %h2
-#       = pluralize(@item.errors.count, "error")
-#       はこの投稿の保存を禁止しています:
-#     %ul
-#       - @item.errors.full_messages.each do |msg|
-#         %li= msg
