.search_lists{
  display: flex;
  min-height: 200px;
  position: relative;
  padding: 40px;
  background-color: white;
  justify-content: space-between;
	flex-wrap: wrap;
  .search_list {
    width: 220px;
    min-width: 220px;
    display: flex;
    background-color: #eeeeee;
    margin: 10px;
    &__item__img{
      height: 150px;
      width:220px;
      object-fit: contain;
    }
    &__img img {
      height: 150px;
      width: 220px;
      object-fit: contain;
    }
    &__body {
      padding: 16px;
      font-size: 16px;
      color: #333333;
      .place {
        ul {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .topiclist:hover {
    opacity: 0.7;
  }
  .nothing{
    margin: 0 auto;
    width: 50%;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &__message{
      text-align: center;
      background-color: #CE403C;
      color: white;
      border-radius: 5px;
    }
  }
}

