
%h1 Items#index
%p Find me in app/views/items/index.html.erb
%footer
      =link_to "トップページ", root_path
      =link_to "ログイン", new_user_session_path
      =link_to "ユーザー登録", new_user_registration_path

