-# = render partial: 'layouts/header'

-# .search_view
-#   .search_lists 
-#     - if @items.present?
-#       - @items.each do |item|
-#         .search_list
-#           =link_to item_path(id: item.id) ,class:"search_list__item" do
-#             -item.images.first(1).each do |image|
-#               = image_tag image.image.url, class:"search_list__item__img"
-#             .search_list__body
-#               = item.name 
-#               .place
-#                 %ul
-#                   = item.price
-#                   %li
-#                     %i{class:"fa fa-star likeicon"}0
-#                 %p （税込）           
-#     - else
-#       .nothing 
-#         .nothing__message 商品がありません      
        
-# = render partial: 'layouts/footer'

-# = render partial: 'layouts/puts_up'    