* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.top_page {
  padding: 0 60px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;

  &__header {
    
    &__inner {
      display: flex;
      padding-top: 15px;

      img {
        height: 40px;
        width: 140px;
        margin-right: 25px;
      }

      .search_box {
        display: flex;
        width: 100%;
        

        &__input {
          height: 36px;
          width: 100%;
          padding-left: 5px;
          background-color: #f5f5f5;
          border: 1px solid #e5e5e5;
        }

        &__btn {
          height: 37px;
          width: 37px;
          background-color: #3CCACE;
          border: none;

          &__icon {
            color: white;
            font-size: 20px;
          }
        }
      }
    }

    .list {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      height: 32px;
      line-height: 32px;

        a {
        text-decoration: none;
        color: #333;
        }

      &__left {
        position: relative;
        display: flex;
        padding: 0;

        &__category {
          padding-right: 30px;
        }

        &__brand {
          display: flex;
          padding-left: 16px;
        }
      }

      &__right {
        position: relative;
        display: flex;
        padding: 0;
        
        &__log_in {
          padding-right: 30px;
        }

        &__new {
          display: flex;
          padding-left: 16px;
        }
      }
    }  
  }
}  

.side {
  display: flex;
  
  .side-box {
    display: flex;
    margin: 30px  ;
    padding: 20px;  

    .side-menu {
      padding: 8px 0 0;
      font-size: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 4px;
      padding-right: 20px;
      width: 210px;
      max-width: 1000;

      &__title {
        margin: 0 0 8px;
        padding: 0 8px 8px;
        font-size: 16px;
        font-weight: bold;
        box-sizing: border-box;
      }

      .group-list {
        margin-bottom: 20px;
        padding-left: 0;
      }

      .group-list li {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        line-height: 1.7;
      }
    }
  }

  .side-mypage__logout {
    height: 50px;
    padding: 120px 250px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #e5e5e5;
    background-color: white;
    padding-top: 80px;
    margin-top: 100px;

    &__input { 
      background-color: #3CCACE;
      color: #f5f5f5;
      font-size: 14px;
      border-width: 3px;
      border-style: solid;
      border-color: #e5e5e5;
      padding: 10px 150px;
    }
  }
}

.side-menu a {
  text-decoration: none;
  color: #333;  
}