// icon
@import "font-awesome-sprockets";
@import "font-awesome";

@import "reset";
@import "items";
@import "users/registration.scss";
@import "users/session.scss";


@import "top_page"


.notice {
  color: #ffffff;
  background-color: #00FFFF;
  }

.alert {
  color: #ffffff;
  background-color: #FF0000;
  }


