// クレカ登録
.main_container {
  width: 850px;
  text-align: left;
  padding: 40px;

  &__title {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: #3ccace;
    color: white;
    border: solid 1px black;
  }

  &__explanation {
    padding: 15px 0;
    font-size: small;
  }

  &__table {
    margin: 0 auto 20px;
    background-color: #eeeeee;
    &--title {
      background-color: #3ccace;
      color: white;
      border: 1px solid black;
    }
    &__form {
      height: 20px;
      width: 80%;
    }

    &__form-cvv {
      height: 20px;
    }
    & td {
      padding: 20px;
      font-size: 12px;
      border: 1px solid #615454;
    }
    & th {
      padding-left: 20px;
    }

    &__forms {
      display: flex;
    }
  }
}

.main_container__title__table {
  &__back {
    padding: 15px 0;

    &__page {
      list-style: none;
      font-size: small;
    }
  }

  &__submit {
    text-align: center;
    font-size: small;
  }

  &__register {
    padding: 0px;
    text-align: center;

    &__btn1 {
      padding: 0 5px 0 5px;
      font-size: small;
      margin-right: 20px;
      border: solid 1px #ababab;
    }

    &__btn2 {
      padding: 0 5px 0 5px;
      font-size: small;
      border: solid 1px #ababab;
    }
  }

  &__top {
    padding: 0px;

    &__page {
      list-style: none;
      font-size: small;
      text-align: center;
      padding: 40px;
    }
  }
}
