.exhibitionPage
  .exhibitionPage__main
    .exhibitionPage__main__contents
      = form_with(model: @item, local: true) do |form|
        .exhibitionPage__main__contents__detail
          .exhibitionPage__main__contents__detail__title
            %h1 商品の詳細
          .exhibitionPage__main__contents__detail__category
            .exhibitionPage__main__contents__detail__category__title
              %label.sab-title カテゴリー
              %span.required 必須
            .exhibitionPage__main__contents__detail__category__choose
              = form.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}