@mixin form_basic_style {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 4px;
  padding: 0 10px;
}

@mixin form_date_style {
  height: 28px;
  margin: 0 10px;
  padding: 0 10px;
}

.wrapper-sign-up {
  background-color: #eeeeee;
  &__article {
    background-color: white;
    margin: 0 auto;
    max-width: 700px;

    &__section {
      padding: 40px;
      &__title {
        padding: 40px 40px 0px;
        &--top {
          color: #3ccace;
          font-size: 36px;
          font-family: "M PLUS 1p", sans-serif;
          font-weight: bold;
        }
      }
      &--title {
        color: #3ccace;
        font-size: 24px;
        font-family: "M PLUS 1p", sans-serif;
      }
      &__form-area {
        // margin: 20px 0;
        padding: 3px 10px;
        align-items: center;
        &__name {
          display: flex;
          margin: 5px 0;
          font-weight: 600;
          &__attribute {
            &--box {
              height: 22px;
              width: 42px;
              margin-left: 20px;
              background-color: #ce403c;
              border-radius: 3px;
              text-align: center;
              line-height: 22px;
              font-size: 12px;
              color: white;
            }
            &--optional {
              background-color: #3ccace;
            }
          }
        }
        &__form {
          display: flex;
          &__divide {
            display: flex;
            width: 50%;
            &__text {
              width: 60px;
              line-height: 28px;
              text-align: center;
            }
          }
          &--style {
            height: 28px;
            width: 100%;
            @include form_basic_style();
          }
          &--zip-first {
            width: 39%;
          }
          &--zip-divide {
            width: 9%;
            padding: 0 10px;
            font-size: 20px;

            text-align: center;
            line-height: 28px;
          }
          &--zip-second {
            width: 52%;
          }
          &--tel-two {
            width: 32%;
          }
          &--tel-four {
            width: 64%;
          }
          &--tel-divide {
            width: 10%;
            padding: 0 10px;
            font-size: 20px;

            text-align: center;
            line-height: 28px;
          }
        }
      }
      &--btn {
        height: 42px;
        width: 100%;
        margin: 35px 0;
        border-radius: 4px;
        background-color: #3ccace;
        color: white;
        font-size: 20px;
        cursor: pointer;
        border: none;
        box-shadow: (1px 1px 3px black);
        &:active {
          transform: translate(1px, 1px);
          box-shadow: none;
        }
      }
    }
  }
}

.year {
  @include form_basic_style();
  @include form_date_style();
  margin-left: 0px;
}
.month {
  @include form_basic_style();
  @include form_date_style();
}
.day {
  @include form_basic_style();
  @include form_date_style();
}
