.top_page
  .top_page__header
    .top_page__header__inner
      %h1.icon
        =link_to "/" do
          = image_tag(asset_path('logo.png'), alt: 'logo', class: 'img')
      = form_with(url: search_items_path, method: :get, local: true, class: "search_box") do |f|
        = f.text_field :keyword, class: "search_box__input", placeholder: "キーワードを入力してください"
        = f.button type: "submit", class: "search_box__btn" do
          %i.fas.fa-search

    .list
      %ul.list__left
        %li.list__left__category
          =link_to "カテゴリー", 'http://google.co.jp'
        %li.list__left__brand
          =link_to "ブランド", 'http://google.co.jp'
      %ul.list__right
        - if user_signed_in?
          %li.list__right__log_in
            =link_to "マイページ", user_path(current_user)
          %li.list__right__log_in
            =link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}
        - else
          %li.list__right__log_in
            =link_to "ログイン", new_user_session_path
          %li.list__right__new
            =link_to "新規会員登録", new_user_registration_path
