.side-menu
  %group
    %h2.side-menu__title マイページメニュー
    .group-list
      %li.group-list__notice
        =link_to "お知らせ", user_path(current_user)
      %li.group-list__likes
        =link_to "いいねした商品"
  %group
    %h2.side-menu__title 商品を出品する
    .group-list
      %li.group-list__item
        =link_to "商品を出品", new_item_path
      %li.group-list__sellitem
        =link_to "出品中の商品", sale_items_users_path
      %li.group-list__shop
        = link_to "販売済の商品", sold_items_users_path
  %group
    %h2.side-menu__title 商品を購入する
    .group-list
      %li.group-list__buy
        =link_to "購入した商品"
      %li.group-list__watch
        =link_to "最近見た商品", browsing_histories_path
      %li.group-list__comment
        =link_to "コメントした商品"
  %group
    %h2.side-menu__title 設定・ヘルプ・その他
    .group-list
      %li.group-list__inquiry
        =link_to "お問い合わせ"
      %li.group-list__credit
        - if current_user.creditcards.empty?
          =link_to "クレジットカード情報の登録", new_creditcard_path
        -else
          =link_to "クレジットカード情報の管理", creditcard_path(current_user.creditcards.first.id)
      %li.group-list__management
        =link_to "ポイント管理"
      %li.group-list__logout
        =link_to "ログアウト",destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}
