%main.wrapper__sign-up
  %h2 ユーザー新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "users/shared/error_messages", resource: resource
    %section.wrapper__sign-up
      %h2.wrapper__sign-up--title ユーザ登録情報
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          ニックネーム
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          メールアドレス
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form   
          =f.email_field :email, class: "wrapper__sign-up__form-area__form--style"
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          パスワード
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form   
          =f.password_field :password, class: "wrapper__sign-up__form-area__form--style", placeholder: "7文字以上"
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          パスワード(確認用)
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form 
          =f.password_field :password_confirmation, class: "wrapper__sign-up__form-area__form--style", placeholder: "7文字以上"
      %hr
    %section.wrapper__sign-up
      %h2.wrapper__sign-up--title 本人確認情報
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          名前 
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text 姓
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style", placeholder: "全角"
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text 名
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style", placeholder: "全角"
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          ふりがな
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text せい
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style", placeholder: "全角"
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text めい
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style", placeholder: "全角"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          誕生日
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form
          =raw sprintf(f.date_select(:created_at,  default: Time.now , start_year: 1960, end_year: Time.now.year, use_month_numbers: true, date_separator: "%s", with_css_classes: "date"), "年 ", "月 ")+ "日"
      %hr
    %section.wrapper__sign-up
      %h2.wrapper__sign-up--title 商品送付先
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          名前
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text 姓
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text 名
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"


      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          ふりがな
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form    
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text せい
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"
          .wrapper__sign-up__form-area__form__divide
            .wrapper__sign-up__form-area__form__divide__text めい
            =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          郵便番号
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style wrapper__sign-up__form-area__form--zip-first"
          .wrapper__sign-up__form-area__form--zip-divide - 
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style wrapper__sign-up__form-area__form--zip-second"
      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          都道府県
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form  
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          市区町村
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form  
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          番地
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box
            必須
        .wrapper__sign-up__form-area__form    
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name 
          建物名
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box.wrapper__sign-up__form-area__attribute--optional
            任意
        .wrapper__sign-up__form-area__form   
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          部屋番号
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box.wrapper__sign-up__form-area__attribute--optional
            任意
        .wrapper__sign-up__form-area__form 
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style"

      %hr
      .wrapper__sign-up__form-area
        .wrapper__sign-up__form-area__name
          TEL
        .wrapper__sign-up__form-area__attribute
          .wrapper__sign-up__form-area__attribute--box.wrapper__sign-up__form-area__attribute--optional
            任意
        .wrapper__sign-up__form-area__form  
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style wrapper__sign-up__form-area__form--tel-two"
          .wrapper__sign-up__form-area__form--tel-divide - 
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style wrapper__sign-up__form-area__form--tel-four"
          .wrapper__sign-up__form-area__form--tel-divide - 
          =f.text_field :email, class: "wrapper__sign-up__form-area__form--style wrapper__sign-up__form-area__form--tel-four"
      %hr
      = f.submit "登録", class: "wrapper__sign-up--btn"